@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-success {
    @apply bg-green-400;
    @apply text-white;
    @apply border-green-400;
    @apply text-xm;
    @apply font-bold;
    @apply rounded-lg;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply shadow-xl;
    @apply hover:bg-green-500;
    @apply hover:shadow-none;
    @apply transition-all;
    @apply duration-500;
}

.btn-outline-success {
    @apply border;
    @apply border-green-400;
    @apply text-green-400;
    @apply hover:bg-green-400;
    @apply hover:border-green-400;
    @apply hover:text-white;
    @apply transition-all;
    @apply duration-500;
    @apply font-bold;
    @apply rounded-md;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #4bd274;
}

::-webkit-scrollbar-track {
    background: #e7e5e5;
}

*:hover {
    scrollbar-color: unset;
}

* {
    scrollbar-color: unset;
}

@import url('../css/font.css');

html {
    @apply font-body
}